<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.css">
	<title>HR - Error</title>
</head>
<body class="c4">
	<div class="div-std c2">
		<h1>Holy Guacamole!</h1><br>
		<p class="lead">Something went wrong. Please click <a href="/main">HERE</a> to go back to the main page.
		<br>Or if you are not logged in, click <a href="/login">HERE</a> to go to the login page.</p>
	</div>
</body>
</html>
