<html>
	<head>
		<title>HR - Booking</title>
		
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" href="stylesheet.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		
		
		<script type="text/javascript">
			function selectCheckBox(element){
				box = element.getElementsByTagName("td")[0].getElementsByTagName("input")[0];

				if (box.checked == true) {
					box.checked = false;
					element.className = "";
				} else {
					box.checked = "checked";
					element.className = "c1";}
			}
			
			function validateForm() {
				var x = document.getElementById("nameForm").value;
				var	y = document.getElementById("surnameForm").value;
				if ((x == null || x == "") || (y == null || y =="")) {
					alert("First name and Family name must be filled out");
					return false;
				}
			}
		</script>
	</head>
	<body class="c4">
		<div class="top c1">
			<div class="row">
				<div class="col-md-6">	
					<form class="form-inline" role="form" method="get" action="free_rooms">
						<input name="checkin" id="datepickin" class="form-control" placeholder="Check In"/>
						<input name="checkout" id="datepickout" class="form-control" placeholder="Check Out">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
					</form>
				</div>
				
				<div class="col-md-5">
					<h4 class="{% if error %} msg-fail {% else %} msg-ok {% endif %} text-right">CULO</h4>
				</div>
				
				<div class="col-md-1">
					<a href="/main">
						<button class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</button>
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<form class="form-horizontal" role="form" method="get" onsubmit="return validateForm(this)" action="confirm-{{ checkin }}-{{ checkout }}">
				<div class="col-md-8">
					<div class="div-std c2">
						<table class="table">
							<thead>
								<tr>
									<th class="hidden"></th>
									<th>#</th>
									<th>Beds</th>
									<th>Type</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								{% for room in rooms %}
								<tr onclick="selectCheckBox(this);">
									<td class="hidden"><input type="checkbox" name="{{ room[0] }}"></td>
									<td>{{ room[0] }}</td>
									<td>{{ room[1] }}</td>
									<td>{{ room[2] }}</td>
									<td>{{ room[3] }} €</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="div-std c3">				
						<h3 class="clear">Booking Form</h3>
						<p>{{ msg }}</p>
						<input name="name" id="nameForm" type="text" class="form-control myform" placeholder="First Name *">
						<input name="surname" id="surnameForm" type="text" class="form-control myform" placeholder="Family Name *">
						<input name="e_mail" type="email" class="form-control myform" placeholder="email address">
						<input name="passport" type="text" class="form-control myform" placeholder="Passport ID">
						<input name="address" type="text" class="form-control myform" placeholder="Address">
						<input name="phone" type="text" class="form-control myform" placeholder="Phone number">
						<textarea name="info" class="form-control myform" rows="2" placeholder="other informations..."></textarea>
						<button type="submit" class="btn btn-success btn-default btn-block">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="datepickr.min.js"></script>
		<script type="text/javascript">
			new datepickr('datepickin', {
				'dateFormat': 'Y/m/d'
			});
			
			new datepickr('datepickout', {
				'dateFormat': 'Y/m/d'
			});
		</script>
	</body>
</html>
