<html>
    <head>
        <title> HR - Booking #2 </title>
    </head>

    <body>
        <h1>Guest's Data</h1><br>
        <p> Selected Room: {{room[0]}} </p>
        <form class="form-horizontal" role="form" method="post">
        <input name="name" type="text" class="form-control" placeholder="Name">
        <input name="surname" type="text" class="form-control" placeholder="Surname">
        <input name="passport" type="text" class="form-control" placeholder="Passport No">
        <button type="submit" class="btn btn-default" action="guests">Search This Guest</button>
        <button type="submit" class="btn btn-default">Book</button>
        </form>
        
    </body>
</html>
