<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" href="stylesheet.css"/>
		<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.css"/>
        <title>HR - Confirm</title>
    </head>
    <body class="c4">
        <div class="div-std c2">
			<h1>Done!</h1>
			<br>The reservation is stored to the database succesfully. An e-mail is sended to {{ guest[4] }}.
			<br>Here is a recap of the reservation:
			
			<div class="row">
				<div class="col-md-5">
					<div class="div-std c3">
						<p class="clear"><strong>Name: </strong>{{guest[1]}}<br>
						<strong>Surname: </strong>{{guest[2]}}<br>
						<strong>email: </strong>{{guest[3]}}<br>
						<strong>passport: </strong>{{guest[4]}}<br>
						<strong>address: </strong>{{guest[5]}}<br>
						<strong>phone: </strong>{{guest[6]}}<br>
						<strong>info: </strong>{{guest[7]}}<br>
						<br>
						<strong>Check-In: </strong> {{ checkin }} <br>
						<strong>Check-Out: </strong> {{ checkout }}<br>
						<br>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th><span class="clear">Room booked</span></th>
									<th><span class="clear">Reservation ID</span></th>
								</tr>
							</thead>
							<tbody>
								{% for r in ids %}
								<tr>
									<td><span class="clear">{{ r[1] }}</span></td>
									<td><span class="clear">{{ r[0] }}</span></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<span class="title"><strong>Price: </strong> {{ price }}</p></span>
					</div>
				</div>
			</div>
			<p class="lead"><br>Now click <a href="/main">HERE</a> to go back to the main page</p>
        </div>
    </body>
</html>
