<html>
<head>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <title>HR - Login</title>
</head>
<body class="c4">
  <div class="row">
    <div class="col-md-4 col-sm-2">
    </div>
			
    <div class="col-md-4 col-sm-8 col-xs-12">
      <div class="row">
	<div class="col-md-8 col-md-push-2">
	  <div class="div-std c2">
	    <img src="HR.png" class="mng"/>
	  </div>		
	</div>
      </div>	
      <div class="div-std c3">
	<h2 class="clear">HotelRevolution2014s</h2>
	<h4 class="text-center msg-ok">{{ msg }}</h4>
	<form method="post" class="form-horizontal" role="form" action="/login">
	  <input class="form-control input-lg myform" name="name" type="text" placeholder="User name">
	  <input class="form-control input-lg myform" name="pass" type="password" placeholder="password">
	  <button class="btn btn-default btn-block btn-lg" type="submit">Log In <span class="glyphicon glyphicon-log-in"></span></button>	
	</form>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-2">
    </div>
  </div>
</div>
</body>
</html>
