<html>
	<head>
		<title>HR - Home</title>
		<link rel="stylesheet" href="stylesheet.css"/>
		<link rel="stylesheet" href="datepicker/css/datepicker.css">
		<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.css"/>
		<script src="datepicker/js/bootstrap-datepicker.js"></script>
	</head>
	<body>
		<div class="top">
			<div class="row">
				
				<div class="col-md-2">	
					<button action="logout" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon-off"></span> Logout
					</button>
				</div>
				
				<div class="col-md-3">
					<p>{{ today.day }} / {{ today.month }} / {{ today.year }}</p>
				</div>
				
				<div class="col-md-3">
					<p>Today's Check-In: {{ n_checkin }}<br>
					today's Check-Out: {{ n_checkout }}</p>
				</div>
				
				<div class="col-md-3">
					<p>Free Rooms: {{ n_libere }}<br>
					Occupied Rooms: {{ n_occupate }}</p>		
				</div>
			
				<div class="col-md-1 col-sm-4 col-xs-6">
					<a href="/manager">
						<img src="th.jpeg"class="img-rounded mng"/>
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="div-std c1">
					<h1>New Booking</h1><br>
					<form class="form-horizontal" role="form" method="get">
						<input name="checkin" type="data-time" class="form-control myform" placeholder="Check In">
						<input name="checkout" type="data-time" class="form-control myform" placeholder="Check Out">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
					</form>
				</div>	
			</div>
			
			<div class="col-md-4 col-sm-6">
				<div class="div-std c2">
					<h1>Reservations</h1><br>
					<form class="form-horizontal myform" role="form" method="get">
					<input name="ResID" type="text" class="form-control myform" placeholder="Reservation ID">
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
					</form>
				</div>
			</div>
				
			<div class="col-md-4 col-sm-6">
				<div class="div-std c3">
					<h1>Guests</h1><br>
					<form class="form-horizontal myform" role="form" method="get">
					<input name="guest" type="text" class="form-control myform" placeholder="Guest">
					<select class="form-control myform">
						  <option name="name">Name</option>
						  <option name="surname">Surname</option>
						  <option name="id_guest">ID</option>
					</select>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
