<html>
	<head>
		<title>HR - Reservations</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" href="stylesheet.css"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
		<script type="text/javascript">
			function able() {
				var inputs = document.getElementsByClassName('myform');
				for(var i = 0; i < (inputs.length - 2); i++) {
					inputs[i].disabled = false;
				}
			};
		</script>
		<script type="text/javascript">
			function autoFillForm(element) {
				var inputs = document.getElementsByClassName('myform');
				var fields = element.getElementsByTagName("td");
				for(var i = 0; i < inputs.length; i++) {
					inputs[i].value = fields[i].innerHTML;
				}	
			};			
		</script>
		<script type="text/javascript">
			function changeResForm(element) {
				var x = element;
				var y = document.getElementById("resForm");
				var z = document.getElementById("resForm2");
				if (x.selectedIndex == 1) {
					z.classList.remove("hidden");
					y.placeholder = "First Name";
					z.placeholder = "Family Name";
					y.name = "name";
					z.name = "surname";
				} else {
					z.classList.add("hidden");
					y.placeholder = "Reservation ID";
					y.name = "id_res";
				}
			}
		</script>
	</head>
	<body class="c4">
		<div class="top c3">
			<div class="row">
				
				<div class="col-md-8">
					<form class="form-inline" role="form" method="get">
						<select class="form-control" onchange="changeResForm(this);">
							<option value="id_res">Reservation ID</option>
							<option>Guest's name and surname</option>
						</select>
						<input name="id_res" id="resForm" type="text" class="form-control" placeholder="Reservation ID">						
						<input name="name" id="resForm2" type="text" class="form-control hidden">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
					</form>
				</div>
				
				<div class="col-md-3">	
					<h4 class="{% if error %} msg-fail {% else %} msg-ok {% endif %} text-right">{{msg}}</h4>
				</div>
				<div class="col-md-1">
					<a href="/main">
						<button class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</button>
					</a>
				</div>
			</div>
		</div>
			
		<div class="row">
			<form class="form-horizontal" role="form" method="post">
				<div class="col-md-6">
					<div class="div-std c2">
						<table class="table">
							<thead>
								<tr>
									<th>First name</th>
									<th class="hidden">check-in</th>
									<th class="hidden">room number</th>
									<th>Family name</th>
									<th class="hidden">check-out</th>
									<th>Reservation ID</th>	
									<th class="hidden">price</th>
								</tr>
							</thead>
							<tbody>
                                                                {% for r in reservations %}
								<tr onclick="autoFillForm(this);">
									<td>{{ r[0].name }}</td>
									<td class="hidden">{{r[0].checkin.year}}/{{r[0].checkin.month}}/{{r[0].checkin.day}}</td>
									<td class="hidden">{{r[0].room}}</td>
									<td>{{r[0].surname}}</td>
									<td class="hidden">{{r[0].checkout.year}}/{{r[0].checkout.month}}/{{r[0].checkout.day}}</td>
									<td>{{r[0].id_res}}</td>
									<td class="hidden">{{r[0].price}}</td>
								{%endfor%}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="div-std c1">
						<div class="row">
							<div class="col-md-6" id="fieldList">
								<label>First Name</label>
								<input name="name" type="text" class="form-control myform" placeholder="First Name *" disabled>
								<label>Check-In</label>
								<input name="phone" type="text" class="form-control myform" placeholder="Phone number" disabled>
								<label>Room Number</label>							
								<input name="passport" type="text" class="form-control myform" placeholder="Passport ID" disabled>
								<p><br></p>
								<h2 class="text-right"><span class="clear"><strong>Price:</strong></span></h2>
							</div>
							<div class="col-md-6">
								<label>Family Name</label>
								<input name="surname" type="text" class="form-control myform" placeholder="Family Name *" disabled>
								<label>Check-Out</label>
								<input name="e_mail" type="email" class="form-control myform" placeholder="email address" disabled>
								<label>Reservation ID</label>
								<input name="address" type="text" class="form-control myform" placeholder="Address" disabled>
								<p><br></p>
								<input name="price" type="text" class="form-control myform input-lg" placeholder="$$$" disabled>
							</div>
							<div class="col-md-6">
								<button class="btn btn-warning btn-lg btn-block" type="button" onclick="able();"><span class="glyphicon glyphicon-pencil"></span> Modify</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-success btn-lg btn-block" type="submit"><span class="glyphicon glyphicon-save"></span> Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
