<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/graph.css"/>
    <title>Revenue</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/graph.js"></script>
  </head>
  <body class="c4">
    <div class="top c3">
      <div class="row">
	<div class="col-md-11">
	  <span class="clear title">Total Revenue: ...</span>
	</div>
	<div class="col-md-1">
	  <a href="/main">
	    <button class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</button>
	  </a>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div id="graph" class="div-std">
	</div>
      </div>
    </div>
    <script>
      graphDraw("#graph", {{date_from}}, {{date_to}});
    </script>
  </body>
</html>
