body {
	padding-left: 20px;
	padding-right: 20px;
}

.top {
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}
.div-std {
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}

.div-margin {
	border: 5px solid #FF9900;
}

.normal {
	text-decoration: none;
	color: #E5E5E5;
}

.normal:hover {
	color: #FFFFFF;
}

.myform {
	margin-top: 7px;
	margin-bottom: 7px;
}

.c1 {
	background-color: #097054;
}

.c2 {
	background-color: #FFDE00;
}

.c3 {
	background-color: #6599FF;
}

.c4 {
	background-color: #FF9900;
}

.c-ok {
	background-color: #28B528;
}

.mng {
	width: 100%;
	height: auto;
}
